---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import EditBlog from '@/components/editBlog'
import NewsletterForm from '@/components/NewsletterForm'
const { title, description, image, articleDate } = Astro.props
---

<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderTheme />
		<ProviderAnimations />
	</head>

	<body class='bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white w-full h-full'>
		<main
			class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-20 mt-4 overflow-hidden md:overflow-visible'
		>
			<Header />
			<slot />

			<div class='border-t-2'></div>

			<NewsletterForm />

			<div class='border-t-2'></div>

			<Footer />
		</main>
		<TwSizeIndicator />
		<EditBlog />

		<script>
			;(() => {
				const elements = document.querySelectorAll('[scroll-to]')

				elements.forEach((element) => {
					element.addEventListener('click', (event) => {
						event.preventDefault()

						const scrollToValue = element.getAttribute('scroll-to')

						const target = document.querySelector(`[scroll-target="${scrollToValue}"]`)

						target?.scrollIntoView({ behavior: 'smooth' })
					})
				})
			})()
		</script>
	</body>
</html>
